<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mx.com.cesarcorona.directorio">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDTTdRWjmurLzImK00Sm9UVkvwM4-_sDr0" />

        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.CategoriaActivity" />
        <activity android:name=".activities.NegocioPorCategoriaActivity" />
        <activity android:name=".activities.NegocioDetailActivity" />
        <activity
            android:name=".activities.SearchActivity"
            android:windowSoftInputMode="stateHidden" />

        <service
            android:name=".service.MyLocationService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".activities.PromocionesActivity" />
        <activity android:name=".activities.CloseTomeActivity" />
        <activity android:name=".activities.SubirClasificadoActivity" />
        <activity android:name=".activities.ClasificadosActivity" />
        <activity android:name=".activities.NoticiasActivity" />
        <activity android:name=".activities.NoticiaDetailActivity" />
        <activity android:name=".activities.ClasificadosCategoriasActivity"></activity>
    </application>

</manifest>